.videoWrapper {
  top: 0;
  bottom: 0;
  width: 75%;
  height: 75%;
  display: inline;
}

.videoWrapper video {
  /* Make video to at least 75% wide and tall */
  min-width: 75%; 
  min-height: 75%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 75%;
  height: 75%;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

video {
    padding-top: 100px; 
}