<!-- <head>
	<link rel="stylesheet" type="text/css" href="../css/video.css" />
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script> 
		$(function(){
  			$("#menu").load("menu.html"); 
		});
	</script> 
</head>

<body>
<div id="menu"></div> -->
<div class="videoWrapper">
    <video autoplay controls>
        <source src="../images/teaser.mp4" type="video/mp4">
    </video>
    <script>
    	document.getElementsByTagName('video')[0].addEventListener('error', function(event) { console.log(error); }, true);
    </script>
</div>
<!-- </body> -->